/* styles.css */
.body {
    margin: 0;
    background: black;
    overflow: hidden;
}

/* sketchbook page */
.book {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/paper.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page */
.page {
    width: 90%;
    height: 90%;
    position: relative;
}

.page {
    position: relative;
}

.fragment {
    position: absolute;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 999;
    transition: transform 1s ease-out;
}

/* irregular torn pieces */

.f1 {
    clip-path: polygon(0 0, 100% 0, 70% 60%, 0 80%);
    -webkit-clip-path: polygon(0 0, 100% 0, 70% 60%, 0 80%);
}

.f2 {
    clip-path: polygon(30% 0, 100% 20%, 100% 100%, 20% 80%);
    -webkit-clip-path: polygon(30% 0, 100% 20%, 100% 100%, 20% 80%);
}

.f3 {
    clip-path: polygon(0 40%, 60% 20%, 80% 100%, 0 100%);
    -webkit-clip-path: polygon(0 40%, 60% 20%, 80% 100%, 0 100%);
}

.f4 {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 60% 40%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 60% 40%);
}

/* sketches */
.sketch {
    position: absolute;
    width: 220px;
    filter: grayscale(100%) contrast(110%);
    transition: 0.4s;
}

/* scattered placements */
.s1 { top: 8%; left: 12%; transform: rotate(-10deg); z-index: 2; position: absolute; }
.s2 { top: 25%; left: 25%; transform: rotate(6deg); z-index: 3; }
.s3 { top: 55%; left: 20%; transform: rotate(-4deg); z-index: 2; }
.s4 { top: 2%; right: 6%; transform: rotate(8deg); z-index: 1; }
.s5 { bottom: 2%; right: 75%; transform: rotate(-6deg); z-index: 2; }
.s6 { bottom: 10%; left: 65%; transform: rotate(3deg); z-index: 1; }
.s7 { top: 20%; left: 55%; transform: rotate(-10deg); z-index: 2; }
.s8 { bottom: 40%; right: 2%; transform: rotate(-10deg); z-index: 2; }
.s9 { top: 30%; left: 2%; transform: rotate(-5deg); z-index: 2; }


/* tape */
.tape {
    position: absolute;
    width: 80px;
}

.t1 { top: 7%; left: 14%; transform: rotate(-10deg); z-index: 2; }
.t2 { top: 18%; left: 58%; }
.t3 { bottom: 25%; left: 10%; transform:rotate(-15deg); }

/* stains */
.stain {
    position: absolute;
    width: 150px;
    opacity: 0.4;
}

.st1 { bottom: 20%; left: 20%; }
.st2 { top: 30%; right: 20%; }

/* visual navigation elements */
.circle {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 50%;
}

.square {
    position: absolute;
    bottom: 150px;
    right: 120px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
}

.line {
    position: absolute;
    top: 20px;
    left: 40%;
    width: 200px;
    height: 3px;
    background: black;
}